<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Server</title>
</head>
<body>
    <p id = "message_p">
        <ul id = "message_ul">

        </ul>
    </p>
    <form id = "uploadForm" enctype="multipart/form-data">
        <!-- <input type="text" name="name" id="name" placeholder="File name"><br> -->
        <input type="file" name="files" id="files" multiple>
        
        <input type="submit" value="Submit">
    </form>
    
    
    <script>
        var msg_id_n = 0
        function add_msg(msg_txt, msg_id){
            li = document.createElement("li")
            li.innerText = msg_txt
            li.id = msg_id
            ul = document.getElementById("message_ul")
            ul.appendChild(li)
        }

        function update_msg(new_msg, msg_id){
            li = document.getElementById(msg_id)
            li.innerText = new_msg
        }

        
        function submit(event){
            msg_id_n += 1
            msg_id = "msg_" + msg_id_n
            add_msg("preparing upload", msg_id)

            var form_element = document.getElementById("uploadForm")
            var formdata = new FormData(form_element)

            var request = new XMLHttpRequest()
            request.open("POST", "{{ url_for('upload', directory = directory) }}", true)
            request.onreadystatechange = function(ev){
                if(this.readyState == 4 && this.status == 200){
                    
                    var resp = this.responseText
                    var respJson = JSON.parse(resp)
                    if(respJson["status"] != "failed"){
                        update_msg(respJson["details"], msg_id)
                    }
                    else{
                        update_msg(respJson["details"], msg_id)
                    }
                }
                else if (this.readyState == 4 && this.status != 200){
                    update_msg("error: " + this.status, msg_id)
                }
            }
            var total_size = 0.0
            request.upload.onloadstart = function(ev){
                update_msg("starting upload", msg_id)
                total_size = Math.round(ev.total / (10**6)) // in MB
                total_size = total_size.toFixed(2) // rounding up to 2 decimal points
            }
            request.upload.onprogress = function(ev){
                var uploaded = ev.loaded/(10**6) // in MB
                var percentage = ev.loaded/ev.total * 100
                update_msg(`uploaded: ${uploaded.toFixed(2)}MB of ${total_size}MB -- ${percentage.toFixed(2)}%`, msg_id)
            }
            request.upload.onloadend = function(ev){
                var uploaded = ev.loaded/(10**6) // in MB
                var percentage = ev.loaded/ev.total * 100
                
                update_msg(`upload complete ${uploaded.toFixed(2)}MB of ${total_size}MB -- ${percentage.toFixed(2)}%`, msg_id)
            }

   
            request.send(formdata)
            event.preventDefault()
        }

        document.querySelector("#uploadForm").addEventListener("submit", submit)
    </script>
    
    <form action="{{url_for('search')}}" method="GET">
        <input type="search" name="query" id="search_field" placeholder="search">
    </form>

    <hr>

    <h3>Current directory: {{ directory }}</h3>
    <ul>
        {% for key in d%}
        <li>
            <a href="{{ url_for('get_file', file_name = key) }}">{{ d[key][0] }}</a>
            {% if os.path.isdir(key) %}
                [dir]
            {% else %}
                -- {{ d[key][1] }}
            {%  endif %}
        </li><br>
        {% endfor %}
    </ul>

    <hr>
    <p><b>N.B. </b> Beta file server, not very secure, might not work properly</p>
</body>
</html>