<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Server</title>
</head>
<body>
    <a href="{{ url_for('index') }}">Home</a><br>
    <form action="{{url_for('search')}}" method="GET">
        <input type="search" name="query" id="search_field" placeholder="search">
    </form>

    <hr>

    <h3>Showing search result for: {{ query }}</h3>
    <p><b>N.B. </b> Beta search, so even if a file does not apear in the listing it might actually exist</p>
    <ul>
        {% for key in d%}
        <li>
            <a href="{{ url_for('get_file', file_name = key) }}">{{ d[key][0] }}</a>
            {% if os.path.isdir(key) %}
                [dir]
            {% else %}
                -- {{ d[key][1] }}
            {%  endif %}
        </li><br>
        {% endfor %}
    </ul>

    <hr>
    <p><b>N.B. </b> Beta file server, not very secure, might not work properly</p>
</body>
</html>